@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400;600&display=swap');
.confirmButton {
    border: #005ff1 solid 5px;
    background: #005ff1;
    color: black;
    font-weight: 600;
}
form {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
}

.label_bigletter{
    font-size: 20px;
}